In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

The following IMDB Dataset was downloaded on 01/07/2023

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
filepath="/content/drive/MyDrive/IMDBdatasets/Dataset_files/namebasics.tsv"
df = pd.read_csv(filepath, delimiter='\t')
df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0050419,tt0031983,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0117057,tt0075213"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0056404,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0083922,tt0050976,tt0050986"
...,...,...,...,...,...,...
12651615,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt2455546,tt14069590,tt11657662"
12651616,nm9993716,Essias Loberg,\N,\N,NaN,\N
12651617,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
12651618,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
12651619,nm9993719,Andre Hill,\N,\N,NaN,\N

In [ ]:
df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0050419,tt0031983,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0117057,tt0075213"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0056404,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0083922,tt0050976,tt0050986"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651620 entries, 0 to 12651619
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 579.1+ MB

In [ ]:
#Top 10 Ancient people in the dataset
df.birthYear.dropna()
df.sort_values("birthYear").head(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
137420,nm0144482,Xavier Castano,0001,\N,"assistant_director,producer,director","tt1701210,tt0338512,tt2909116,tt0870921"
738903,nm0784172,Lucio Anneo Seneca,0004,0065,writer,"tt0218822,tt0972562,tt0237666,tt0049203"
8234003,nm4511421,Megan Liz Smith,0012,\N,"miscellaneous,actress","tt10183848,tt1966378,tt14300912,tt3416744"
5680323,nm1620433,Karen Abercrombie,0013,\N,"actress,producer,writer","tt6791350,tt8180386,tt7383268,tt3832914"
11677785,nm8810146,Paul Walsh,0021,\N,actor,"tt0098878,tt0093223,tt0314567,tt0083839"
407275,nm0430769,Flavius Josephus,0037,0095,"writer,miscellaneous","tt0049833,tt0273236,tt0009573,tt0237666"
3825503,nm1306202,Plutarch,0046,0122,writer,"tt0472473,tt0237666,tt0272979,tt0056937"
486847,nm0515385,Titus Livius,0059,0017,writer,tt0003740
11868911,nm9049180,Pliny the Younger,0061,0113,NaN,\N
3830404,nm1306711,Suetonius,0069,0140,writer,"tt0056937,tt0092322,tt0237666,tt3395994"

In [ ]:
#use=df[["birthYear","deathYear","primaryName"]].dropna()

#Top 10 people with longest lifespans in the dataset

df['birthYear'] = df['birthYear'].replace('\\N', float('NaN'))
df['deathYear'] = df['deathYear'].replace('\\N', float('NaN'))
df['birthYear'] = df['birthYear'].astype(float)
df['deathYear'] = df['deathYear'].astype(float)
use=df[["birthYear","deathYear","primaryName"]].dropna()

use["lifespan"]=use.deathYear-use.birthYear

use["lifespan"][(use.lifespan>200)|(use.lifespan<0)]=use.lifespan.median()
use.sort_values("lifespan",ascending=False).head(10)

<ipython-input-8-a0341d4ec6b6>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  use["lifespan"][(use.lifespan>200)|(use.lifespan<0)]=use.lifespan.median()

         birthYear  deathYear            primaryName  lifespan
124311      1875.0     1997.0  Jeanne Louise Calment     122.0
230489      1849.0     1970.0        Tatzumbia Dupea     121.0
3998616     1398.0     1518.0              Kabir Das     120.0
1870751     1449.0     1568.0              Sankardev     119.0
8060542     1772.0     1890.0       Fakir Lalon Shah     118.0
231312      1879.0     1997.0              Durga Bai     118.0
6812361     1898.0     2015.0            Misao Ogawa     117.0
5954239     1893.0     2009.0         Maria De Jesus     116.0
4233230     1877.0     1993.0       Charlotte Hughes     116.0
261500      1896.0     2012.0          Gustave Field     116.0

In [ ]:
#Top 10 people with most titles(movies/episodes) with the profession 'director' and 'actor'

df['primaryProfession'] = df['primaryProfession'].astype(str)
result=df.loc[lambda df:df['primaryProfession'].isin(['director','actor'])].sort_values(by='birthYear').groupby('primaryName')['knownForTitles'].count().sort_values(ascending=False).head(10)
print(result)

primaryName
Alex       149
Max        124
Mike       119
David      118
Rajesh     109
Sam        102
Thomas     102
Tony       101
Jack        99
Michael     98
Name: knownForTitles, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12651620 entries, 0 to 12651619
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          float64
 3   deathYear          float64
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: float64(2), object(4)
memory usage: 579.1+ MB

In [ ]:
filepath="/content/drive/MyDrive/IMDBdatasets/Dataset_files/titleratings.tsv"
dftr=pd.read_csv(filepath,delimiter='\t')
dftr.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000003            6.5      1839
3  tt0000004            5.5       178
4  tt0000005            6.2      2624

In [ ]:
dftr.describe()

       averageRating      numVotes
count   1.325581e+06  1.325581e+06
mean    6.954609e+00  1.038437e+03
std     1.382612e+00  1.747020e+04
min     1.000000e+00  5.000000e+00
25%     6.200000e+00  1.100000e+01
50%     7.100000e+00  2.600000e+01
75%     7.900000e+00  1.010000e+02
max     1.000000e+01  2.758725e+06

In [ ]:
dftr.isnull().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [ ]:
#Top 10 title IDs with most number of votes

dftr.sort_values("numVotes",ascending=False).head(10)

           tconst  averageRating  numVotes
82639   tt0111161            9.3   2758725
251013  tt0468569            9.0   2731715
641482  tt1375666            8.8   2424151
99171   tt0137523            8.8   2196512
435133  tt0944947            9.2   2174575
81543   tt0109830            8.8   2145803
82422   tt0110912            8.9   2118129
424467  tt0903747            9.5   1993973
97011   tt0133093            8.7   1965826
396900  tt0816692            8.7   1926303

In [ ]:
filepath="/content/drive/MyDrive/IMDBdatasets/Dataset_files/titlebasics.tsv"
dftb=pd.read_csv(filepath,delimiter='\t')
dftb.head()

<ipython-input-12-5f6ad57727dd>:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  dftb=pd.read_csv(filepath,delimiter='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [ ]:
merged_df=pd.merge(dftr,dftb,on='tconst')
sorted_df = merged_df.sort_values('numVotes', ascending=False)
top_10_titles = sorted_df.head(10)
print(top_10_titles)

           tconst  averageRating  numVotes titleType  \
82639   tt0111161            9.3   2758725     movie
251013  tt0468569            9.0   2731715     movie
641482  tt1375666            8.8   2424151     movie
99171   tt0137523            8.8   2196512     movie
435133  tt0944947            9.2   2174575  tvSeries
81543   tt0109830            8.8   2145803     movie
82422   tt0110912            8.9   2118129     movie
424467  tt0903747            9.5   1993973  tvSeries
97011   tt0133093            8.7   1965826     movie
396900  tt0816692            8.7   1926303     movie

                    primaryTitle             originalTitle isAdult startYear  \
82639   The Shawshank Redemption  The Shawshank Redemption       0      1994
251013           The Dark Knight           The Dark Knight       0      2008
641482                 Inception                 Inception       0      2010
99171                 Fight Club                Fight Club       0      1999
435133           Game of Thrones           Game of Thrones       0      2011
81543               Forrest Gump              Forrest Gump       0      1994
82422               Pulp Fiction              Pulp Fiction       0      1994
424467              Breaking Bad              Breaking Bad       0      2008
97011                 The Matrix                The Matrix       0      1999
396900              Interstellar              Interstellar       0      2014

       endYear runtimeMinutes                   genres
82639       \N            142                    Drama
251013      \N            152       Action,Crime,Drama
641482      \N            148  Action,Adventure,Sci-Fi
99171       \N            139                    Drama
435133    2019             57   Action,Adventure,Drama
81543       \N            142            Drama,Romance
82422       \N            154              Crime,Drama
424467    2013             49     Crime,Drama,Thriller
97011       \N            136            Action,Sci-Fi
396900      \N            169   Adventure,Drama,Sci-Fi

In [ ]:
#Here we have the top 10 most voted movies or series

top_10_titles_names = top_10_titles[['originalTitle','startYear','averageRating']]
print(top_10_titles_names)

                   originalTitle startYear  averageRating
82639   The Shawshank Redemption      1994            9.3
251013           The Dark Knight      2008            9.0
641482                 Inception      2010            8.8
99171                 Fight Club      1999            8.8
435133           Game of Thrones      2011            9.2
81543               Forrest Gump      1994            8.8
82422               Pulp Fiction      1994            8.9
424467              Breaking Bad      2008            9.5
97011                 The Matrix      1999            8.7
396900              Interstellar      2014            8.7

In [ ]:
#Top 10 most voted Series in the dataset

df_series=merged_df[merged_df['titleType']=='tvSeries']
sorted_df_series=df_series.sort_values('numVotes',ascending=False)
top_10_series=sorted_df_series.head(10)
top_10_series_names=top_10_series[['originalTitle','startYear','averageRating']]
print(top_10_series_names)

                 originalTitle startYear  averageRating
435133         Game of Thrones      2011            9.2
424467            Breaking Bad      2008            9.5
1069404        Stranger Things      2016            8.7
706788        The Walking Dead      2010            8.1
80640                  Friends      1994            8.9
687603                Sherlock      2010            9.1
423157     The Big Bang Theory      2007            8.2
382429                  Dexter      2006            8.7
248127   How I Met Your Mother      2005            8.3
216881              The Office      2005            9.0